absl-py==1.4.0
accelerate==0.34.2
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
alabaster==0.7.16
albucore==0.0.16
albumentations==1.4.15
altair==4.2.2
annotated-types==0.7.0
anyio==3.7.1
apache-beam==2.59.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_record==0.5.1
arviz==0.19.0
astropy==6.1.4
astropy-iers-data==0.2024.9.30.0.32.59
astunparse==1.6.3
async-timeout==4.0.3
atpublic==4.1.0
attrs==23.2.0
audioread==3.0.1
autograd==1.7.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
bigframes==1.19.0
bigquery-magics==0.2.0
bleach==6.1.0
blinker==1.4
blis==0.7.11
blosc2==2.0.0
bokeh==3.4.3
Bottleneck==1.4.0
bqplot==0.12.43
branca==0.8.0
build==1.2.2
CacheControl==0.14.0
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
chex==0.1.87
clarabel==0.9.0
click==8.1.7
cloudpathlib==0.19.0
cloudpickle==2.2.1
cmake==3.30.4
cmdstanpy==1.2.4
colorama==0.4.6
colorcet==3.1.0
colorlover==0.3.0
colour==0.1.5
community==1.0.0b1
confection==0.1.5
cons==0.4.6
contextlib2==21.6.0
contourpy==1.3.0
crcmod==1.7
cryptography==43.0.1
cuda-python==12.6.0
cufflinks==0.17.3
cvxopt==1.3.2
cvxpy==1.5.3
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
dask==2024.8.0
datascience==0.17.6
db-dtypes==1.3.0
dbus-python==1.2.18
debugpy==1.6.6
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.1.1
distributed==2024.8.0
distro==1.7.0
dlib==19.24.2
dm-tree==0.1.8
dnspython==2.6.1
docker==4.4.4
docopt==0.6.2
docstring_parser==0.16
docutils==0.18.1
dopamine_rl==4.0.9
duckdb==1.1.1
earthengine-api==1.0.0
easydict==1.13
ecos==2.0.14
editdistance==0.8.1
eerepr==0.0.4
einops==0.8.0
entrypoints==0.4
et-xmlfile==1.1.0
etils==1.9.4
etuples==0.3.9
eval_type_backport==0.2.0
exceptiongroup==1.2.2
fastai==2.7.17
fastavro==1.9.7
fastcore==1.7.10
fastdownload==0.0.7
fasteners==0.19
fastjsonschema==2.20.0
fastprogress==1.0.3
fastrlock==0.8.2
filelock==3.16.1
firebase-admin==6.5.0
Flask==2.2.5
flatbuffers==24.3.25
flax==0.8.5
folium==0.17.0
fonttools==4.54.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.6.0
gcsfs==2024.6.1
GDAL==3.6.4
gdown==5.2.0
geemap==0.34.5
gensim==4.3.3
geocoder==1.38.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gin-config==0.5.0
glob2==0.7
google==2.0.3
google-ai-generativelanguage==0.6.6
google-api-core==2.19.2
google-api-python-client==1.12.11
google-apitools==0.5.31
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.68.0
google-cloud-bigquery==3.25.0
google-cloud-bigquery-connection==1.15.5
google-cloud-bigquery-storage==2.26.0
google-cloud-bigtable==2.26.0
google-cloud-core==2.4.1
google-cloud-datastore==2.19.0
google-cloud-dlp==3.23.0
google-cloud-firestore==2.16.1
google-cloud-functions==1.16.5
google-cloud-iam==2.15.2
google-cloud-language==2.13.4
google-cloud-pubsub==2.25.2
google-cloud-pubsublite==1.11.1
google-cloud-recommendations-ai==0.10.12
google-cloud-resource-manager==1.12.5
google-cloud-spanner==3.49.1
google-cloud-storage==2.18.2
google-cloud-translate==3.15.5
google-cloud-videointelligence==2.13.5
google-cloud-vision==3.7.4
google-crc32c==1.6.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
googledrivedownloader==0.4
graphviz==0.20.3
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpc-interceptor==0.15.4
grpcio==1.64.1
grpcio-status==1.48.2
gspread==6.0.2
gspread-dataframe==3.3.1
gym==0.25.2
gym-notices==0.0.8
h5netcdf==1.3.0
h5py==3.11.0
hdfs==2.7.3
holidays==0.57
holoviews==1.19.1
html5lib==1.1
httpimport==1.4.0
httplib2==0.22.0
huggingface-hub==0.24.7
humanize==4.10.0
hyperopt==0.2.7
ibis-framework==9.2.1
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
imagesize==1.4.1
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==6.1.0
importlib-resources==5.12.0
importlib-utils==3.5.1
ipykernel==6.24.0
ipython==8.12.0
ipython-genutils==0.2.0
isort==5.11.4
j2cli==0.6.0
jupyter==1.0.0
jupyter-client==8.4.0
jupyter-console==6.6.0
jupyter-core==5.3.1
jupyter-dash==0.4.0
jupyter-server==1.23.5
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.0.3
keras==2.14.0
keras-cv==1.5.1
keras-nlp==0.4.0
keras-tuner==1.3.6
keyring==23.11.0
kiwisolver==1.4.4
langid==1.1.6
langdetect==1.0.9
lark==1.1.5
lasio==0.30.5
lbfgsb==1.3.0
lazy-import==0.3.7
lazyarray==0.3.4
ldac==0.4.0
leather==0.3.3
lightgbm==3.3.5
llvmlite==0.39.0
lmfit==1.0.5
lxml==4.9.3
ludicrous==0.0.5
ludwig==0.5.3
luigi==3.3.1
lux-api==0.3.0
madmom==0.19
markdown==3.4.4
matplotlib==3.7.1
matplotlib-venn==0.11.8
matplotlib2==0.1.5
mccabe==0.6.1
memory-profiler==0.61.0
mercator==1.0.0
missingno==0.5.1
mistune==2.0.6
mlflow==2.7.0
mlxtend==0.20.0
mne==1.0.0
moviepy==1.0.3
msgpack==1.0.4
multidict==6.0.4
nbclient==0.7.5
nbconvert==6.5.3
nbformat==5.8.1
nbsphinx==0.8.7
ndjson==0.4.0
ndarray==0.2.1
ndarray==0.1.1
ndjson==0.3.0
nengo==3.0.0
nengo-dl==0.7.0
nltk==3.8.1
nose==1.3.7
notebook==6.5.2
notebook-shim==0.2.3
numba==0.56.4
numpy==1.25.4
numpy-stl==2.0.0
